h1 {
    display: flex;
    justify-content: center;
}

/* .add-todo-button {
    display: flex;
    justify-content: right;
} */

aside {
    width: 30%;
    float: left;
    display: inline;
}


/* .project-content {



} */

.project-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  height: 10px;
  width: 30vh;
  padding: 10px;
  margin: 20px;
  background: linear-gradient(#cda9dd, #9198e5);
}

.todo-content {
    width: 70%;
    float: right;
    display: inline;

}

.todo-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 100px;
    width: 100vh;
    padding: 10px;
    margin: 20px;
    background: linear-gradient(#cda9dd, #9198e5);
  }
  
  .title-div {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .description-div {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .due-date-div {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .priority-div {
    font-size: 20px;
    margin-bottom: 20px;
  }

input {
    display: flex;
    margin: 10px;
}

.form-buttons {
    float: right;
    margin: 20px 35px;
}

input#title {
    height: 30px;
    width: 85%;
    font-size: 20px;
    border: solid 1px black;
  }

  #description {
    display: flex;
    margin: 10px;
    height: 80px;
    width: 85%;
    font-size: 20px;
    border: solid 1px black;
  }

  input#due-date {
    height: 30px;
    width: 85%;
    font-size: 20px;
    border: solid 1px black;
  }
  
  input[type=radio] {
    display: inline-block;
    transform: scale(1.5);
  }

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.todo-modal {
    position: fixed;
    z-index: 1; /* sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden; /* so it doesn't appear */
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.todo-modal-content {
    position: absolute;
    top: 50%; /* centre of screen */
    left: 50%; /* centre of screen */
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #888;
    padding: 1rem 1.5rem;
    width: 30%;
    height: 40%;
    border-radius: 0.5rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}